.header
{
  width: 100%;
  margin:0px;
}

.header-red {
  border-style:solid;
  background-color:#8A2B18;
}

.header-blue {
  border-style:solid;
  background-color:#203864;
}

.header-red-section{
  margin: 0px;
}

.header-buttons{
  background-color: black;
  color: white;
  font-family: "Times New Roman";
  display:flex;
  border-radius: 5px;
  justify-content: center;
  width: 100px;
  height: 50px;
  align-items: center;
  text-decoration: none;
  float: left;
  margin:30px;
}

.header-align{
  float:right;
}

.menuItem
{
  width: 20%;
}

.galleryImage
{
  width:300px;
  padding:0px;
}

.gallery-text
{
  width:200px;
  display:block;
  margin-left:auto;
  margin-right:auto;
  text-align: justify;
}
